
.Purple-color {color: #5451E1;}
body {
    font-family: sans-serif;
    color: #373F41;
    line-height: 26px;
}
.content{
    width: 50%;
    float: left;
}
 .btn{
     color: white;
     background-color: #5451E1;
     padding: 13px 42px;
     border-radius: 20px;
 }