

body {
    font-family: sans-serif;
    color: #373F41;
    line-height: 26px;
}
.Purple-color {color: #5451E1;}
.content{
    width: 50%;
    float: left;
}
 .btn{
     color: white;
     background-color: #5451E1;
     padding: 8px 24px;
     border-radius: 64px;
     text-decoration: none;
 }