

body {
    font-family: sans-serif;
    color: #373F41;
    line-height: 26px;
}
.Purple-color {color: #5451E1;}
.content{
    width: 50%;
    float: left;
}
 .btn{
     color: white;
     background-color: #5451E1;
     padding: 8px 24px;
     border-radius: 64px;
     text-decoration: none;
 }
 .container {
     width: 90%;
     height: auto;
     margin: 20px;
     display: inline-block;
     background-color: #eeeeff;
     border-radius: 24px;
     padding: 64px;
 }
 .Project01 {
     width: 50%;
     float: right;
 }
.exp {
    padding: 10px;
    border-left: 1px solid rgba(137, 130, 247, .2)

}

.Block1 {
   background-color: #5451E1;
}

.MainImgs {
    max-width: 100%;
    height: auto;
}